*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#6dd5ed,#2193b0);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:400px;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 10px 20px rgba(0,0,0,.3);
    text-align:center;
}

h1{
    margin-bottom:20px;
    color:#333;
}

.form input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:2px solid #2193b0;
    border-radius:8px;
    font-size:16px;
}

button{
    width:100%;
    padding:12px;
    background:#2193b0;
    color:white;
    border:none;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#176d8c;
    transform:scale(1.03);
}

.card{
    display:none;
    margin-top:25px;
    padding:20px;
    background:#f4f4f4;
    border-radius:12px;
    animation:fade .6s;
}

.card img{
    width:100px;
    margin-bottom:10px;
}

.card h2{
    color:#2193b0;
    margin-bottom:15px;
}

.card p{
    margin:8px;
    font-size:18px;
}

#studentGrade{
    color:green;
    font-weight:bold;
}

@keyframes fade{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}